/* ROOT */
:root{
    --main-font-family: "Poppins", "Arial", sans-serif;
    --main-font-weight: 700;
    --main-body-bg-color: #fff; 
    --main-text-color: #34313d;
    --main-triangles-color: #3a3054;
    --main-desc-color: #9e9aa8;
    --main-nav-color: #bfbfbf;
    --main-sectuon-bg-color: #eff1f7;
    --main-links-color: #2bd0d0;
}


@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: 
    url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), 
    url("../fonts/poppins-v20-latin-500.woff") format("woff"); 
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
    url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
    url("../fonts/poppins-v20-latin-700.woff") format("woff"); 
}

*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

img{
    display: block;
    height: auto;
}

a{
    display: inline-block;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    background-color: var(--main-body-bg-color);
}

.container{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    padding-top: 40px;
    padding-bottom: 23px;
}

// .logo {
// }

.site-header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__navbar{
    position: fixed;
    top: 96px;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    padding-right: 24px;
    padding-left: 24px;
}

.navbar-open .site-header__navbar{
    display: block;
}

.site-header__nav-window {
    max-width: 327px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 24px;
    background-color: var(--main-triangles-color);
    border-radius: 10px;
}

.site-header__nav {
    margin-bottom: 32px;
    border-bottom: 1px solid var(--main-desc-color);
}

.site-header__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.site-header__item {
    margin-bottom: 30px;
    &:last-child{
        margin-right: 0;
    }
}

.site-header__link {
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;    
    color: #fff;
}

.site-header__reg-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-header__login-link {
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    color: #fff;    
}

.site-header__sing-link {
    padding-top: 12px;
    padding-bottom: 9px;
    max-width: 279px;
    width: 100%;
    margin-top: 24px;   
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;  
    text-align: center;  
    color: #fff;
    background-color: var(--main-links-color);
    border-radius: 28px;
    transition: opacity 0.3s ease;
    &:hover{
        opacity: 0.7;
    }
}

.site-header__burger-btn{
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-image: url("../images/burger.svg");
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and(min-width:768px){
    .site-header {
        padding-top: 44px;
        padding-bottom: 30px;
    }
    
    .site-header__inner{
        justify-content: start;
    }
    
    .site-header__navbar{
        position: static;
        display: block;
        width: 100%;
        height: auto;
        padding-right: 0;
        padding-left: 45px;
    }
    
    .site-header__nav-window {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: none;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        background-color: transparent;
        border-radius: 0;
    }
    
    .site-header__nav {
        margin-right: none;
        margin-bottom: 0;
        border-bottom: none;
    }
    
    .site-header__list {
        flex-direction: row;
    }
    
    .site-header__item {
        margin-right: 29px;
        margin-bottom: 0;
        &:last-child{
            margin-right: 0;
        }
    }
    
    .site-header__link {
        font-size: 15px;
        line-height: 22px;
        color: var(--main-desc-color);
        transition: color 0.3s ease;
        &:hover{
            color: var(--main-text-color);
        }
    }
    
    .site-header__reg-box {
        margin-left: 15px;
        flex-direction: row;
    }
    
    .site-header__login-link {
        font-size: 15px;
        line-height: 22px;
        color: var(--main-desc-color);    
    }
    
    .site-header__sing-link {
        padding-top: 9px;
        padding-bottom: 8px;
        max-width: none;
        width: 105px;
        margin-top: 0;   
        margin-left: 37px;   
        font-size: 15px;
        line-height: 22px;
    }
    
    .site-header__burger-btn{
        display: none;
    }
}
@media only screen and(min-width:992px){
    .site-header {
        padding-top: 48px;
        padding-bottom: 78px;
    }
}


.site-main{
    flex-grow: 1;
}

.hero-section {
    padding-top: 374px;
    padding-bottom: 80px;
    background-image: url("../images/hero-bg.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 50px) calc(50% - 300px);
    background-size: 327px 270px;
}

// .hero-section__inner {
// }

.hero-section__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 565px;
    width: 100%;
    margin-bottom: 88px;
}

.hero-section__text {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 42px;
    line-height: 48px;
    
    text-align: center;
    
    color: var(--main-text-color);
    
}

.hero-section__desc {
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    
    text-align: center;
    
    color: var(--main-desc-color);
}

.hero-section__link {
    max-width: 197px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: var(--main-links-color);
    border-radius: 28px;
    transition: opacity 0.3s ease;
    &:hover{
        opacity: 0.7;
    }
}

.hero-section__form {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.hero-section__form-inner{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 24px;
    border-radius: 10px;
    background-image: url("../images/hero-search-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-section__form-label{
    position: relative;
    top: 0;
    left: 0;
    max-width: 279px;
    width: 100%;
}

.hero-section__input-zone {
    display: inline;
    max-width: 279px;
    width: 100%;
    padding: 6px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    color: var(--main-text-color);
    background-color: var(--main-body-bg-color);
    border-radius: 5px;
    border: none;
    &::placeholder{
        font-weight: 500;
        font-size: 16px;
        line-height: 36px;
        color: var(--main-text-color);
        opacity: 0.5;
    }
    &:not(:focus):not(:placeholder-shown):invalid{
        outline: 3px solid #f46363;
    }
    &:not(:focus):not(:placeholder-shown):invalid ~ .hero-section__invalid-text{
        display: block;
    }
}

.hero-section__invalid-text {
    display: none;
    margin-top: 4px;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #f46363;
}

.hero-section__btn {
    max-width: 279px;
    width: 100%;
    padding: 11px 0;
    margin-top: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: var(--main-body-bg-color);
    border: none;
    background-color: var(--main-links-color);
    border-radius: 5px;
    transition: opacity 0.3s ease;

    &:hover{
        opacity: 0.7;
    }
}

@media only screen and (min-width:350px){
    .hero-section {
        background-position: calc(50% + 50px) calc(50% - 280px);
    }
}
@media only screen and (min-width:467px){
    .hero-section {
        background-position: calc(50% + 50px) calc(50% - 265px);
    }
}
@media only screen and (min-width:615px){
    .hero-section {
        padding-top: 374px;
        padding-bottom: 84px;
    }

    .hero-section__textbox{
        max-width: 592px;
        align-items: flex-start;
        margin-bottom: 138px;
    }

    .hero-section__text {
        margin-bottom: 5px;
        font-size: 80px;
        line-height: 90px;
        text-align: start;
    }
    
    .hero-section__desc {
        margin-bottom: 38px;
        font-size: 22px;
        line-height: 36px;
        
        text-align: start;
    }
    
    .hero-section__form-inner{
        flex-direction: row;
        padding: 52px 64px;
    }
    
    .hero-section__form-label{
        max-width: 769px;
    }
    
    .hero-section__input-zone {
        max-width: 769px;
        padding: 14px 32px;
        font-size: 20px;
        line-height: 36px;
        &::placeholder{
            font-size: 20px;
            line-height: 36px;
        }
    }
    
    .hero-section__invalid-text {
        position: absolute;
        top: 72px;
        margin-top: 0;
        font-size: 16px;
    }
    
    .hero-section__btn {
        max-width: 188px;
        margin-top: 0;
        margin-left: 24px;
        padding: 17px 0;
        font-size: 20px;
        line-height: 30px;
    }
}
@media only screen and (min-width:885px){
    .hero-section {
        padding-top: 149px;
        background-position: calc(50% + 500px) calc(50% + 10px);
        background-size: 733px 482px;
    }
}

.statistics {
    padding-top: 160px;
    padding-bottom: 80px;
    background-color: var(--main-sectuon-bg-color);
}

.statistics__innner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics__textbox {
    max-width: 540px;
    width: 100%;
    margin-bottom: 92px;
}

.statistics__text {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: var(--main-text-color);
}

.statistics__desc {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: var(--main-desc-color);
}

.statistics__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    background-image: url("../images/vertical-line.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.statistics__item {
    position: relative;
    top: 0;
    left: 0;
    max-width: 350px;
    width: 100%;
    padding-top: 77px;
    padding-bottom: 41px;
    padding-right: 32px;
    padding-left: 32px;
    background-color: var(--main-body-bg-color);
    border-radius: 5px;

    &::before{
        position: absolute;
        top: -44px;
        left: calc(50% - 44px);
        display: inline-block;
        width: 88px;
        height: 88px;
        background-color: var(--main-triangles-color);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        content: "";
    }

    &:nth-child(1){
        &::before{
            background-image: url("../images/brand.svg");
        }
    }
    &:nth-child(2){
        margin-top: 92px;
        &::before{
            background-image: url("../images/detailed.svg");
        }
    }
    &:nth-child(3){
        margin-top: 92px;
        &::before{
            background-image: url("../images/fully.svg");
        }
    }
}

.statistics__item-text {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: var(--main-text-color);
}

.statistics__item-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    
    color: var(--main-desc-color);
}

@media only screen and (min-width:1053px){
    .statistics {
        padding-top: 204px;
        padding-bottom: 120px;
    }
    
    .statistics__textbox {
        margin-bottom: 100px;
    }
    
    .statistics__text {
        margin-bottom: 18px;
        font-size: 40px;
    }
    
    .statistics__desc {
        font-size: 18px;
        line-height: 32px;
    }
    
    .statistics__list {
        flex-direction: row;
        background-image: url("../images/line.svg");
        background-position: calc(50% + 0px) calc(50% - 10px);
    }
    
    .statistics__item {
        margin-right: 30px;
        &::before{
            left: 32px;
        }
        &:nth-child(2){
            margin-top: 44px;
        }
        &:nth-child(3){
            margin-right: 0;
            margin-top: 88px;
        }
    }
    
}

.site-article {
    padding: 90px 0;
    background-image: url("../images/article-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-article__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.site-article__text {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    color: var(--main-body-bg-color);
}

.site-article__linkbox{
    max-width: 197px;
    width: 100%;
    background-color: var(--main-body-bg-color);
    border-radius: 28px;
}

.site-article__link {
    max-width: 197px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;    
    color: var(--main-body-bg-color);
    background-color: var(--main-links-color);
    border-radius: 28px;
    transition: opacity 0.3s ease;

    &:hover{
        opacity: 0.7;
    }
}
@media only screen and (min-width:768px){
    .site-article {
        padding: 57px 0;
    }
    
    .site-article__text {
        margin-bottom: 32px;
        font-size: 40px;
    }
}

.site-footer {
    padding-top: 54px;
    padding-bottom: 56px;
    background-color: #232127;
}

.site-footer__innner {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

// .logo {
// }

.logo--footer{
    margin-bottom: 49px;
}

.site-footer__nav-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-footer__nav-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
}

.site-footer__nav-text {
    display: inline-block;
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.25px;
    
    color: var(--main-body-bg-color);
}

.site-footer__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.site-footer__nav-item {
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}

.site-footer__nav-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    color: var(--main-nav-color);
    transition: color 0.3s ease;

    &:hover{
        color: var(--main-links-color);
    }
}

.site-footer__list {
    display: flex;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.site-footer__item {
    margin-right: 24px;
}
.site-footer__link{
    color: var(--main-body-bg-color);
    transition: color 0.3s ease;
    &:hover{
        color: var(--main-links-color);
    }

    &:last-child{
        margin-right: 0;
    }
}

@media only screen and (min-width:768px){
    .site-footer {
        padding-top: 60px;
        padding-bottom: 61px;
    }
    
    .site-footer__nav-wrapper{
        max-width: 461px;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 38px;
    }
    
    .site-footer__nav-box {
        align-items: flex-start;
        margin-bottom: 0;
    }
    
    .site-footer__nav-text {
        text-align: start;
    }
    
    .site-footer__nav-list {
        align-items: flex-start;
    }
    
    .site-footer__list {
        display: flex;
        align-items: center;
        margin-top: 48px;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }
    
}
@media only screen and (min-width:992px){
    .site-footer {
        padding-top: 60px;
        padding-bottom: 61px;
    }

    .site-footer__innner{
        flex-direction: row;
        align-items: flex-start;
    }

    .logo--footer{
        margin-right: auto;
        margin-bottom: 0;
    }
    
    .site-footer__nav-wrapper{
        max-width: 461px;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 0;
        margin-right: 101px;
    }
    
    .site-footer__list {
        margin-top: 0;
    }
    
}